workDir = '/hpc/temp/_SR/Genomics/users/fwu/nextflow/cutandrun/work'

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/fh/scratch/delete90/_SR/Genomics/fwu/nextflow/singularity/cutandrun/v2.0'
    runOptions = '--containall --no-home'
	pullTimeout = '60 min'
}

process {
    executor = 'slurm'
    queue = 'campus-new'
	errorStrategy = 'retry'
	maxRetries = 8
}

env {
	MPLCONFIGDIR = '/fh/scratch/delete30/_SR/Genomics/fwu/nextflow/cache'
}
