/*
========================================================================================
    GENERAL
========================================================================================
*/

process {
    withName: MULTIQC {
        publishDir = [
            path: { "${params.outdir}/04_reporting/multiqc/" },
            mode: "${params.publish_dir_mode}",
            pattern: 'multiqc_data/*'
        ]
    }

    withName: FRAGMENT_LENGTH {
        publishDir = [
            path: { "${params.outdir}/04_reporting/qc/fragment_length/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.fragment_length.txt',
            enabled: false
        ]        
    }

    withName: READS_IN_PEAK {
        publishDir = [
            path: { "${params.outdir}/04_reporting/qc/reads_in_peak/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.reads_in_peak.csv',
            enabled: false
        ]        
    }

    withName: READ_METRICS {
        publishDir = [
            path: { "${params.outdir}/04_reporting/qc/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]        
    }

    withName: ORIGINAL_PEAK_METRICS {
        publishDir = [
            path: { "${params.outdir}/04_reporting/qc/" },
            mode: "${params.publish_dir_mode}",
            pattern: 'original_peak*',
            enabled: true
        ]        
    }

    withName: REPLICATED_PEAKS {
        publishDir = [
            path: { "${params.outdir}/04_reporting/qc/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.{csv,rds}',
            enabled: true
        ]        
        publishDir = [
            path: { "${params.outdir}/06_replicated_peaks/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.bed',
            enabled: true
        ]        
    }

    withName: CONSENSUS_PEAKS {
        publishDir = [
            path: { "${params.outdir}/04_reporting/qc/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.{csv,rds}',
            enabled: true
        ]        
        publishDir = [
            path: { "${params.outdir}/07_consensus_peaks/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.bed',
            enabled: true
        ]        

    }
    
    withName: PLOT_METRICS {
        publishDir = [
            path: { "${params.outdir}/04_reporting/qc/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*.{csv,rds}',
            enabled: true
        ]        
    }

    withName: OUTPUT_PARAMS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info/patch/" },
            mode: "${params.publish_dir_mode}",
            pattern: '*',
            enabled: true
        ]        
    }

}